.bloggy__header {
  padding-top: 6px;
  padding-bottom: 6px;

  .wrapper {
    max-height: 60px;
  }

  .logo {
    @include span-columns(4 of 10);
    max-height: inherit;

    a,
    img { max-height: inherit; }
    img {
      max-width: 220px;
    }
  }

  .nav {
    @include span-columns(6 of 10);
    max-height: inherit;
    float: right;

    ul {
      float: right;
      margin-top: 0.4em;
    }

    li {
      display: inline-block;
      font-family: $font-open-sans;
      font-weight: 400;
      margin-left: 12px;
    }
  }
}