// color variables
$white: #FFFFFF;
$whitish: #FEFEFE;
$gray-light: #F6F6F6;
$gray: #AAAAAA;
$gray-dark: #454545;
$blackish: #323232;
$black: #000000;

$green: #1B998B;

//$blue: #107499;
$blue-alt1: #28B9C9; // i like, but a little bright
$blue-alt2: #437C90; // okay, but a bit dark :P

// Palette I like
// 333333, efefef, f7f7f7, blue-alt1, blue-alt2
